@page
@model WebAppCapellaKM_05.Pages.Publications.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publication[0].PublicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication[0].PublicationPublisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publication) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationPublisher)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PublicationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PublicationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PublicationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
